body {
  height: 100vh;
  background: #00d9c0;
}

header {
  padding: 1em;
  background: #030301;
  position: relative;
}

header h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2em;
}

header .right {
  position: absolute;
  right: 1em;
  top: 1em;
}

header .right h1 {
  text-transform: none;
}

footer form {
  z-index: 2;
  padding: 0.5em;
  background: #030301;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer form input {
  margin: 0 1em;
  height: 50px;
  font-size: 2em;
  border: none;
  background-color: #00d9c0;
  font-weight: bold;
  color: #ff4365;
  outline: none !important;
  border-radius: 0.3em;
  padding: 0.3em;
}

footer form input:focus {
  background-color: #ff4365;
  color: white;
}

footer form .left {
  width: 80%;
}

footer form .right {
  width: 20%;
  text-transform: uppercase;
}

#messages {
  overflow: auto;
  height: 100vh;
  padding-bottom: 12em;
  position: fixed;
  width: 100%;
  scroll-behavior: smooth;
}

#messages .message {
  max-width: 70%;
  text-align: left;
  display: block;
  border: none;
  outline: none;
  padding: 1em 2em;
  margin: 2em;
  border-radius: 0.3em;
  -webkit-box-shadow: 0 0 1em black;
          box-shadow: 0 0 1em black;
  overflow: hidden;
  word-break: break-word;
}

#messages .right {
  float: right;
  clear: both;
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#sign-up {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sign-up h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

#sign-up form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sign-up form input {
  margin: 1em 0;
  padding: 1em;
  border-radius: 0.3em;
  text-align: center;
}

#sign-up form button {
  margin: 1em 0;
  padding: 1em;
  border-radius: 0.3em;
  text-align: center;
  background: #ff4365;
  color: white;
  font-weight: bold;
  font-size: 1em;
  outline: none;
  border: none;
  width: 100%;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

#alert {
  background: #ff4365;
  z-index: 2;
  position: fixed;
  padding: 1em;
  width: 100%;
}

#alert h1 {
  font-weight: bold;
}

#alert * {
  color: white;
}
/*# sourceMappingURL=style.css.map */